<div class="center-screen">
  <div class="main-screen">
    <div class="main-header flex-container container-padding" >
      <h1>Passengers</h1>

      <mat-form-field class="search-drivers" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div class="main-content">
      <app-passenger-card *ngFor="let passenger of obs | async"
                       [passenger]="passenger"
                       [toastCallback]="toastCallback" ></app-passenger-card>
    </div>

    <div class="main-footer flex-container">
      <mat-paginator
        [pageSize]="pageSize"
        [length]="totalElements"
        [pageSizeOptions]="[3, 6, 12]"
        (page)="nextPage($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<app-snack-bar></app-snack-bar>

