#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}

app-profile{
    width: 600px;
    height: 100%;
}

app-vehicle-data{
    width: 600px;
    height: 100%;
}
