#background {
    background-image: url("../../../assets/images/uber_background2.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#container {
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 80%;
    margin-top: 120px;
    background: #282E33;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 100px 150px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

h1 {
    font-weight: 500;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.1px;
    margin-top: 80px;
    /* margin-bottom: auto; */
}



form {
    margin: 40px;
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

#email, #password{
    margin: 5px 0;
}

#email input, #password input{
    height: 45px;
    color: white;
}

#keepLogin {
    align-self: flex-start;
    margin: 5px 0 20px 0;
}

/* #keepLogin {
    background-color: white !important;
} */


#loginbtn {
    background: #FFE32B;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    height: 45px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 800;
    font-size: 16px;
    color: #282E33;
}

#forgotPass {
    margin: 20px 0;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    margin: 30px;
}

#separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#separator hr {
    display: inline;
    width: 30%;
}

#difLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#difLogin .sn-icon {
    color: #FFE32B;
    font-size: 40px;
    cursor: pointer;
    margin: 7%;
}

#toSignup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#toSignup #signup {
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
}



  @media only screen and (max-height: 900px) {
    #container {
        height: 87%;
        margin-top: 80px;
    }
  }
  @media only screen and (max-width: 600px) {
    #container {
      height: 100%;
      width: 100%;
      border-radius: 0px;
      margin-top: 0;
      margin-bottom: 0;
    }
    h1 {
        margin-top: 120px;
        margin-bottom: 10px;
        /* margin-bottom: auto; */
    }
  }