#content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
}
#map{
    background-image: url("../../../assets/images/uber_background.jpg");
    background-size: cover;
    width: 800px;
    height: 75%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(64, 58, 16, 0.5));

    justify-content: center;
    
}
.container {
    box-sizing: border-box;
    width: 485px;
    height: 75%;
    background: #282E33;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(64, 58, 16, 0.5));
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
h1 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
}
.input-error {
    color: rgb(255, 103, 103);
}

.correct {
    color: white;
}
#routeList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 367px;

    background: #1F2428;
}
#routeContainer{
    
    height: 60px;
    padding: 0px 16px;
    border: 0.2px solid #282E33;
}
#route{
    transition: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
#topEmptySpace
{
    height: 10%;
}
#addresses{
    width: 300px;
}
#estimatedData
{
    
}
#start, #final, #time, #distance{

}
#icon{
    width: 50px;
}
img{
    height: 30px;
}