.container {
    box-sizing: border-box;
    width: 485px;
    height: 600px;
    background: #282E33;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(64, 58, 16, 0.5));
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.heading{
    flex: 1;
    margin-top: 30px;
}
h1 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
    
    
}

.route-plan{
    border: 4px solid #f5d629;
    margin: 5px;
    padding: 5px;
    font-family: 'nunito';
    font-size: 22px;
    text-align: center;
}

#routeList{
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: flex-start;
    padding: 0px;

    width: 367px;

    background: #1F2428;
    margin-bottom: 40px;
}
#routeContainer{
    
    height: 60px;
    padding: 0px 16px;
    border: 0.2px solid #282E33;
}
#route{
    transition: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
#topEmptySpace
{
    height: 10%;
}
#addresses{
    width: 70%;
}
#estimatedData{
    width: 20%;
    text-align: right;
}
#icon{
    width: 10%;
}
img{
    height: 30px;
}

.selection{
    display: none;
    margin-bottom: 40px;
}