<div class="container">
  <div class="heading">
    <div class="title">
      <i class="fa fa-chevron-circle-left" aria-hidden="true" (click)="back()"></i>
      <h1>Possible routes</h1>
    </div>
    <div class="route-plan">{{addressStart}}<br>to<br>{{addressEnd}}</div>
  </div>

  <mat-selection-list #routeList [multiple]="false" id="routeList">
    <mat-list-option *ngFor="let route of estimatedRoutes; let i = index" [value]="route" id="routeContainer"
      (click)="selectRoute(i)">
      <div id="route">
        <div id="icon">
          <img src="../../../assets/images/route.png" alt="Icon">
        </div>
        <div id="addresses">
          <div matListItemLine id="route-name">{{route.name}}</div>
        </div>
        <div id="estimatedData">
          <div matListItemLine id="time">{{route.time}}</div>
          <div matListItemLine id="distance">{{route.distance}}</div>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <p class="selection">
    Option selected: {{routeList.selectedOptions.hasValue() ? routeList.selectedOptions.selected[0].value.final :
    'fdhtrhtrj'}}
  </p>

</div>