<div id="container">



    <div id="vehicle-info">

        <div id="title">
            <span class="iconify car" data-icon="material-symbols:directions-car"></span>
            <p>Vehicle data</p>
        </div>

        <div class="section">
            <p>Vehicle model - Fiat 500L</p>
        </div>

        <div class="section">
            <p>Vehicle type - Standard</p>
        </div>

        <div class="section">
            <p>Price per km - 1000 RSD</p>
        </div>

        <div class="section">
            <p>License plate - NS-180-NS</p>
        </div>

        <div class="section">
            <p>Number of seats - 4</p>
        </div>

        <div class="section">
            <div id="baby" class="subsection included">
                <span class="iconify yellow-ic" data-icon="material-symbols:baby-changing-station"></span>
                <p>Baby included</p>
            </div>
        </div>
        <div class="section">
            <div id="pet" class="subsection not-included">
                <span class="iconify yellow-ic" data-icon="material-symbols:pets"></span>
                <p>Pet not included</p>
            </div>
        </div>
    </div>

    <button id="editbtn">EDIT VEHICLE</button>


</div>