<div id="container">
    <p id="empty" *ngIf="chatRideId===-1">Please select conversation</p>
    <div id="chat" *ngIf="chatRideId!==-1">
        <div id="header">
            <img id="profile-picture" src="../../../assets/images/car_icon.png" alt="icon">
            <h1>{{chat.name}}</h1>
            
        </div>
        <div id="messages_container">
            <div id="messages" *ngFor="let message of chat.messages">
                <p id="timestamp" class="basic-text">{{fullDate(message.timestamp)}}</p>
                <p class="message basic-text " [ngClass]="{'myself': message.myself===true, 'other':message.myself===false, 'red': equalsPanic(message)}">{{message.content}}</p>
            </div>
        </div>
        <input id="input" placeholder="Message" [(ngModel)]="message">
        <img id="send" onclick="document.getElementById('input').value = ''" src="../../../assets/images/Send.png" alt="Icon" (click)="sendMessage(messageType.RIDE)">

    </div>
</div>
