#container{
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    box-sizing:border-box;
    background: #282E33;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(64, 58, 16, 0.5));
}
#empty{
    font: 'Inter';
    -webkit-text-stroke: 0.5px #567D92;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: white;
}
#chat{
    width: 100%;
    height: 100%;
}
#header{
    height: 50px;
    background: #FFE32B;
    border-radius: 10px 10px 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}
h1{
    font-size: 25px;
    font-weight: 500;
}
#panic{
    height: 30px;
}
input{
    display: block;
    position: absolute;
    bottom: 0;
    left: 2.5%;
    background: #1F2428;
    border: 1px solid #808080;  
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    width: 90%;
    color: #FFFFFF;
    margin: 0 auto 10px auto;
}
#send{
    display: block;
    position: absolute;
    bottom: 0;
    left: 94%;
    margin: 0 auto 10px auto;
    height:45px;
}
.myself{
    background: #FFE32B;
    float: right;
}
.other{
    background: #FFFFFF;
    float: left;
}
.message{
    max-width: 50%;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    margin: 10px auto;
}
#messages{
    padding: 5px;
    position: relative;
    margin: auto;
    width: 95%;
    left: 2.5%;
    justify-content: center;
    display: inline-block;
}
#timestamp{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto 0 auto;
    text-align: center;
}
.basic-text{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
}