<div id="container">
    <p id="empty" *ngIf="!chatSelected">Please select conversation</p>
    <div id="chat" *ngIf="chatSelected">
        <div id="header">
            <img id="profile-picture" src="../../../assets/images/car_icon.png" alt="icon">
            <h1>{{chat.name}}</h1>
            <img *ngIf="chat.type===chatType.PANIC" id="panic" src="../../../assets/images/panic_message.png" alt="icon">
            
        </div>
        <div id="messages" *ngFor="let message of chat.messages">
            <p id="timestamp" class="basic-text">{{message.timestamp}}</p>
            <p [ngClass]="message.myself===true ? 'myself message basic-text': 'other message basic-text'">{{message.content}}</p>
        </div>
        <input placeholder="Message" >
        <img id="send" src="../../../assets/images/Send.png" alt="Icon">

    </div>
</div>
