<h2>Dashboard</h2>
<div class="flex-container-center dashboard-cards">
  <mat-card>
    <div class="flex-container">
      <div class="card-info">
        <h3 class="stat-value">{{ sumValue }} $</h3>
        <p class="stat-desc">Total money spent</p>
      </div>
      <div class="circle">
        <mat-icon>attach_money</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class="flex-container">
      <div class="card-info">
        <h3 class="stat-value">{{ avgValue }} $</h3>
        <p class="stat-desc">Average money spent</p>
      </div>
      <div class="circle">
        <mat-icon>money</mat-icon>
      </div>
    </div>
  </mat-card>
</div>
