<div id="passenger">
    <div id="passenger-left-div"></div>
    <button mat-raised-button id="currentRideBtn" (click)="toCurrentRide()">CURRENT RIDE</button>
    <div id="passenger-mid-div"></div>
    <button mat-raised-button id="schedule-button" (click)="toSchedule()" [ngClass]="selectedPage===enumSP.SCHEDULE ? 'navbar-button selected-button': 'navbar-button'">Schedule</button>
    <button mat-raised-button id="inbox-button" (click)="toInbox()"[ngClass]="selectedPage===enumSP.INBOX ? 'navbar-button selected-button': 'navbar-button'">Inbox</button>
    <button mat-raised-button id="history-button" (click)="toHistory()"[ngClass]="selectedPage===enumSP.HISTORY ? 'navbar-button selected-button': 'navbar-button'">History</button>
    <button mat-raised-button id="profile-button" (click)="toProfile()"[ngClass]="selectedPage===enumSP.PROFILE ? 'navbar-button selected-button': 'navbar-button'">Profile</button>
    <div id="passenger-right-div"></div>
    <button mat-raised-button class="navbar-button"  id="sign-out-button" (click)="logout()">Sign out</button>
</div>