<div id="alignment">
<div id="container">

    <div id="img-container">
        <span class="iconify icon" data-icon="material-symbols:person"></span>
    </div>

    <div id="profile-info">
        <div id="name">
            John Doe
        </div>

        <div id="phone" class="section">
            <span id="phone-icon" class="iconify icon-info" data-icon="material-symbols:phone-enabled"></span>
            <p>06666666</p>
        </div>

        <div id="mail" class="section">
            <span class="iconify icon-info" data-icon="material-symbols:mail"></span>
            <p>name@example.com</p>
        </div>

        <div id="address" class="section">
            <span class="iconify icon-info" data-icon="mdi:house"></span>
            <p>1234 Main Street</p>
        </div>
    </div>

    <button id="editbtn">EDIT PROFILE</button>


  </div>
</div>