
<div class="container">
    <div *ngIf="!rideFound">
        <h1>No upcoming rides</h1>
    </div>
    <div class="container" *ngIf="rideFound">
        <h1>Upcoming ride</h1>
        <div class="row-div">
            <div class="icon">
                <img id="route-img" src="../../../../../assets/images/route.png" alt="Icon">
            </div>
            <div id="addresses">
                <p class="basic-text">{{departure}}</p>
                <p class="basic-text">{{destination}}</p>
            </div>
        </div>
        <div class="row-div">
            <div class="icon">
                <img src="../../../../../assets/images/cash.png" alt="Icon">
            </div>
            <p class="basic-text">{{price}} RSD<p>
        </div>
        <div class="row-div">
            <div class="icon">
                <img src="../../../../../assets/images/clock.png" alt="Icon">
            </div>
            <p class="basic-text">{{time}}<p>
        </div>
    </div>
    
</div>
