#background {
    background-image: url("../../../../../assets/images/uber_background2.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#container {
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 80%;
    margin-top: 120px;
    background: #282E33;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 100px 150px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

#content {
    margin: 0 40px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

#lockopen{
    color: #FFFFFF;
    font-size: 100px;
    align-self: center;
}

h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 0.1px;
    /* margin-bottom: auto; */
}

h3{
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.1px;
    margin-top: 10px;
    margin-bottom: 90px;
}

#loginbtn {
    transition: all .5s ease;
    background: #282E33;
    border: 3px solid #FFE32B;
    box-shadow: 0px 4px 4px rgba(255, 248, 54, 0.397);
    border-radius: 8px;
    height: 45px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 800;
    font-size: 16px;
    color: #FFE32B;
}

#loginbtn:hover {
    transform: translateY(-0.25em);
    background: #FFE32B;
    border: 1px solid rgba(#000, .05);
    box-shadow: 0px 4px 4px rgba(15, 15, 15, 0.397);
    color: #282E33;
}



@media only screen and (max-height: 900px) {
    #container {
        height: 87%;
        margin-top: 80px;
    }


}

@media only screen and (max-width: 600px) {
    #container {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        margin-top: 0;
        margin-bottom: 0;
    }

    #openlock {
        margin-top: 120px;
        margin-bottom: 10px;
        /* margin-bottom: auto; */
    }
    h1{
        font-size: 28px;
    }

    #content{
        width: 90%;
    }
}