<div id="container">
    <h1 ngFor ovde se prolazi kroz sva obavestenja>Notifications</h1>
    <div>
        ngSwitch u zavisnosti koji je tip obavestenja
    </div>
    <div class="row-div ride">
        <div class="icon">
            <img id="route-img" src="../../../assets/images/route.png" alt="Icon">
        </div>
        <div id="addresses">
            <p class="basic-text">Futoska 3</p>
            <p class="basic-text">Temerinska 22</p>
        </div>
    </div>
    <div class="row-div ride">
        <div class="icon">
            <img src="../../../assets/images/cash.png" alt="Icon">
        </div>
        <p class="basic-text">1000 RSD<p>
        <div class="icon">
            <img src="../../../assets/images/clock.png" alt="Icon">
        </div>
        <p class="basic-text">20:30<p>
    </div>
</div>