#container{
    width: 100%;
    height: 100%;
    padding: 3% 0;
    position: absolute;
    box-sizing:border-box;
    background: #282E33;
    
    color: #FFFFFF;
    
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(64, 58, 16, 0.5));
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    gap:3%;
}
.row-div{
    box-sizing: border-box;
    width: 400px;
    height: 30%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
.basic-text{
    width: 300px;
    justify-self: start;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
}
#remained-time{
    color: #52D45A;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 16px;
}
h1 {
    font: 'Inter';
    -webkit-text-stroke: 1px #567D92;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-top: 0;
}
.ride{
    gap: 7%;
    height: 15%;
}


#topEmptySpace
{
    height: 10%;
}
#icon{
    width: 50px;
}
img{
    height: 40px;
}
#route-img{
    height: 70px;
    margin-left: -20px;
}