<div id="container">
    <h1>Notifications</h1>
    <div id="#items">
        <div *ngFor="let notification of notifications" [ngSwitch]="notification.type">
            <div></div>
            <div class="notification new-ride" *ngSwitchCase="notificationType.NEW_RIDE">
                <div id="icon">
                    <img src="../../../assets/images/car_icon.png" alt="Icon">
                </div>
                <div id="data">
                    <div class="row-div">
                        <div class="icon">
                            <img id="route-img" src="../../../assets/images/route.png" alt="Icon">
                        </div>
                        <div id="addresses">
                            <p class="basic-text">{{notification.ride.address1}}</p>
                            <p class="basic-text">{{notification.ride.address2}}</p>
                        </div>
                        <p id="timestamp" class="basic-text">{{notification.timestamp}}</p>
                    </div>
                    <div class="row-div">
                        <div class="icon">
                            <img class="small-icon" src="../../../assets/images/cash.png" alt="Icon">
                        </div>
                        <p id="cash" class="basic-text">{{notification.ride.cash}}<p>
                        <div class="icon">
                            <img class="small-icon" src="../../../assets/images/clock.png" alt="Icon">
                        </div>
                        <p id="time" class="basic-text">{{notification.ride.time}}<p>
                    </div>
                </div>
            </div>
            <div class="notification" *ngSwitchCase="notificationType.REMINDER">
                <div id="icon">
                    <img src="../../../assets/images/info.png" alt="Icon">
                </div>
                <div id="data">
                    
                </div>
            </div>
            <div class="notification" *ngSwitchCase="notificationType.RIDE_REJECTION">
                <div id="icon">
                    <img src="../../../assets/images/rejection.png" alt="Icon">
                </div>
                <div id="data">
                    
                </div>
            </div>
        </div>
    </div>
</div>

    
