.content {
  padding: 1rem 4rem 2rem 4rem;
}

mat-stepper {
  background-color: #282E33;
}

::ng-deep .mdc-floating-label mat-label {
  color: white !important;
}

::ng-deep .mat-mdc-select-arrow svg {
  color: white !important;
}

::ng-deep .mat-mdc-select-value-text span {
  color: white !important;
}


:host ::ng-deep #addDriverContent .mat-step-label div {
  color: white !important;
  font-size: 20px;
}

:host ::ng-deep #addDriverContent .mat-step-header:hover {
  background: rgba(255,227,43,0.05);
}

:host ::ng-deep #addDriverContent .mat-horizontal-content-container {
  padding: 0 !important;
}

:host ::ng-deep #addDriverContent .mat-stepper-horizontal-line {
  border-top-color: white !important;
  border-top-width: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

:host ::ng-deep #addDriverContent .mat-step-icon-content span {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  margin-top: 1em;
}

.field-container {
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-mdc-dialog-surface {
  background-color: #282E33 !important;
}

h1 {
  color: white;
}

.field {
  margin: 0.3em 0;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline.ng-valid div {
  border-color: white !important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline.ng-pristine div {
  border-color: white !important;
}

//change color of label
::ng-deep .mat-form-field-appearance-outline.ng-valid mat-label {
  color: white !important;
}

//change color of label
::ng-deep .mat-form-field-appearance-outline.ng-pristine mat-label {
  color: white !important;
}

//change color of input
::ng-deep .mat-form-field-appearance-outline input {
  color: white !important;
}

//change color of placeholder
::ng-deep .mat-form-field-appearance-outline input::placeholder {
  color: gray !important;
}

::ng-deep #addDriver mat-icon {
  color: white;
}

.field-small {
  width: 48%;
}

.input-error {
  font-size: 0.8rem;
}

.signup-error {
  color: rgb(255, 103, 103);
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

.signup-error-container {
  margin-bottom: 2em;
}

.btn {
  transition: all .5s ease;
  background: #282E33;
  border: 3px solid #FFE32B;
  box-shadow: 0px 4px 4px rgba(255, 248, 54, 0.397);
  border-radius: 8px;
  height: 45px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  font-weight: 800;
  font-size: 16px;
  color: #FFE32B;
}

.btn:hover {
  transform: translateY(-0.25em);
  background: #FFE32B;
  border: 1px solid rgba(#000, .05);
  box-shadow: 0px 4px 4px rgba(15, 15, 15, 0.397);
  color: #282E33;
  cursor: pointer;
}

#toLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  position: relative;
  top: 5%;
}

#login {
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
}

.checkbox-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

::ng-deep .checkbox-section mat-checkbox {
  transform: scale(1.4);
}

//checkbox text color change
::ng-deep .checkbox-section .mdc-checkbox__background {
  border-color: white !important;
}

//checkbox text color change
::ng-deep .checkbox-section .mdc-form-field label {
  color: white !important;
  font-size: 14px;
}
