<div id="alignment">
  <div class="container">
    <div class="heading">
      <h1>Favorite routes</h1>
    </div>

    <mat-selection-list #routeList [multiple]="false" id="routeList">
      <mat-list-option *ngFor="let route of demofavoriteRoutes; let i = index" [value]="route" id="routeContainer"
        (click)="selectRoute(i)">
        <div id="route">
          <div id="icon">
            <span class="iconify" data-icon="material-symbols:star"></span>
          </div>
          <div id="addresses">
            <div matListItemLine id="route-name">{{route.startPoint}} - {{route.endPoint}}</div>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>

  </div>
</div>