#container{
    width: 100%;
    height: 100%;
    position: absolute;
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap:2%;
}
app-notifications{
    margin-top: 2%;
    position: relative;
    height: 85%;
    width: 20%;
    min-width: 280px;
}
app-messages{
    margin-top: 2%;
    position: relative;
    height: 85%;
    width: 20%;
    min-width: 280px;
}
app-chat{
    margin-top: 2%;
    position: relative;
    height: 85%;
    width: 50%;
    min-width: 700px;
}
@media(max-width: 1300px) {
    
    app-notifications{
        width: 40%;
    }
    app-messages{
        width: 40%;
    }
    app-chat{
        
        width: 90%;
    }
}
