<div id="admin">
  <div id="admin-mid-div"></div>
  <button mat-raised-button id="home-button" (click)="toHome()"
          [ngClass]="selectedPage===enumSP.HOME ? 'navbar-button selected-button': 'navbar-button'">Home
  </button>
  <button mat-raised-button id="inbox-button" (click)="toInbox()"
          [ngClass]="selectedPage===enumSP.INBOX ? 'navbar-button selected-button': 'navbar-button'">Inbox
  </button>
  <button mat-raised-button id="history-button" (click)="toHistory()"
          [ngClass]="selectedPage===enumSP.HISTORY ? 'navbar-button selected-button': 'navbar-button'">History
  </button>
  <button mat-raised-button id="users-button" (click)="toUsers()"
          [ngClass]="selectedPage===enumSP.USERS ? 'navbar-button selected-button': 'navbar-button'">Drivers
  </button>
  <button mat-raised-button id="profile-button" (click)="toProfile()"
          [ngClass]="selectedPage===enumSP.PROFILE ? 'navbar-button selected-button': 'navbar-button'">Profile
  </button>
  <div id="admin-right-div"></div>
  <button mat-raised-button class="navbar-button" id="sign-out-button" (click)="logout()">Sign out</button>
</div>
