<h2>Dashboard</h2>
<div class="flex-container-center dashboard-cards">
  <mat-card>
    <div class="flex-container">
      <div class="card-info">
        <h3 class="stat-value">{{ sumValue }} km</h3>
        <p class="stat-desc">Total distance passed</p>
      </div>
      <div class="circle">
        <mat-icon>add_road</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class="flex-container">
      <div class="card-info">
        <h3 class="stat-value">{{ avgValue }} km</h3>
        <p class="stat-desc">Average distance passed</p>
      </div>
      <div class="circle">
        <mat-icon>pin_drop</mat-icon>
      </div>
    </div>
  </mat-card>
</div>
