<div id="background">
    <div id="container">

        <span id="lockicon" class="iconify" data-icon="mdi:lock-clock"></span>

        <h1>Forgot your password?</h1>
        <h3>Please enter the email you use to log in to Ihor.</h3>

        <form [formGroup]="forgot" (ngSubmit)="toReset()">

            <mat-form-field appearance="outline" id="email">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="name@example.com" name="email" formControlName="email"
                    required>
                <mat-error *ngIf="forgot.get('email')?.invalid && forgot.get('email')?.touched">
                    <span *ngIf="forgot.get('email')?.errors?.['email']" class="input-error">Email must be in
                        correct format</span>
                    <span *ngIf="forgot.get('email')?.errors?.['required']" class="input-error">Email is
                        required</span>
                </mat-error>
            </mat-form-field>

            <button type="submit" id="requestbtn">Request password reset</button>

            <mat-error *ngIf="hasError">
                <span class="res-error">Wrong email!</span>
            </mat-error>

            <div id="toLogin">
                <p>Back to</p>
                <p id="login" (click)="toLogin()">Log in</p>
            </div>

        </form>
    </div>
</div>