<div class="container">
    
    <h1>Current ride</h1>
    <div id="topEmptySpace"></div>
    
    <div class="address">
        <p class="label">Start location</p>
        <div class="textBox">
            <p class="value">{{departure}}</p>
        </div>
    </div>
    <div class="address">
        <p class="label">Final destination</p>
        <div class="textBox">
            <p class="value">{{destination}}</p>
        </div>
    </div>
    <div class="time">
        <p class="label large">Arrival time</p>
        <p id="time" class="value">{{arrivalTime}}</p>
    </div>
    
</div>
