<div id="alignment">
    <div id="container">

        <div id="profile-info">
            <div id="heading">
                My vehicle
            </div>

            <form [formGroup]="vehicleForm" (ngSubmit)="edit()">

                <div class="section">
                    <span class="iconify car icon-info" data-icon="material-symbols:directions-car"></span>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Vehicle Model</mat-label>
                        <input matInput type="text" [(ngModel)]="vehicle.model" formControlName="model">
                    </mat-form-field>

                </div>

                <div class="section">
                    <span class="iconify icon-info" data-icon="mdi:van-passenger"></span>
                    <mat-form-field appearance="outline" class="full matselect">
                        <mat-label>Select an vehicle type</mat-label>
                        <mat-select panelClass="matRole" [(value)]="vehicle.vehicleType" formControlName="type">
                          <mat-option value="STANDARDNO">STANDARDNO</mat-option>
                          <mat-option value="LUXURY">LUXURY</mat-option>
                          <mat-option value="VAN">VAN</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="section">
                    <span class="iconify icon-info" data-icon="material-symbols:attach-money"></span>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Price per km</mat-label>
                        <input matInput type="text" [(ngModel)]="vehicle.pricePerKM" formControlName="price">
                    </mat-form-field>
                </div>

                <div class="section">
                    <span class="iconify icon-info" data-icon="mdi:drivers-license"></span>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>License Plate</mat-label>
                        <input matInput type="text" [(ngModel)]="vehicle.licenseNumber" formControlName="plate">
                    </mat-form-field>
                </div>

                <div class="section">
                    <span class="iconify icon-info" data-icon="material-symbols:event-seat"></span>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Number of Seats</mat-label>
                        <input matInput type="number" [(ngModel)]="vehicle.passengerSeats" formControlName="seat">
                    </mat-form-field>
                </div>


                <div class="section">
                    <div id="baby" class="subsection">
                        <span class="iconify icon" data-icon="material-symbols:baby-changing-station"></span>
                        <p>Baby friendly</p>
                        <mat-checkbox [(ngModel)]="vehicle.babyTransport" id="friendly" formControlName="baby"></mat-checkbox>
                    </div>
                </div>
                <div class="section">
                    <div id="pet" class="subsection">
                        <span class="iconify icon" data-icon="material-symbols:pets"></span>
                        <p>Pet friendly</p>
                        <mat-checkbox [(ngModel)]="vehicle.petTransport" id="friendly" formControlName="pet"></mat-checkbox>
                    </div>
                </div>


                <button class="" [disabled]="!vehicleForm.valid" type="submit" id="editbtn">REQUEST FROM ADMIN</button>


            </form>


        </div>
    </div>