#alignment {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

#container {
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    max-width: 800px;
    height: 80%;
    margin-top: 120px;
    background: #282E33;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 100px 150px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

#profile-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

#profile-info form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.section .full {
    width: 100%;
}

.subsection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    text-align: left;
}


#heading {
    font-size: 30px;
    margin-bottom: 30px;
    -webkit-text-stroke: 2px solid rgba(147, 150, 164, 0.25);
    letter-spacing: 0.1em;
}

.icon-info {
    font-size: 2em;
    margin-right: 10px;
    margin-bottom: 20px;
}

.icon {
    font-size: 2em;
    margin-right: 10px;
    margin-left: 20px;
}

.subsection p {
    margin-left: 20px;
    margin-right: 20px;
}


//input outline color
::ng-deep .mat-form-field-appearance-outline.ng-valid div {
    border-color: white !important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline.ng-pristine div {
    border-color: white !important;
}

//change color of label
::ng-deep .mat-form-field-appearance-outline.ng-valid mat-label {
    color: white !important;
}

//change color of label
::ng-deep .mat-form-field-appearance-outline.ng-pristine mat-label {
    color: white !important;
}

//change color of input
::ng-deep .mat-form-field-appearance-outline input {
    color: white !important;
}

//change color of placeholder
::ng-deep .mat-form-field-appearance-outline input::placeholder {
    color: gray !important;
}



//checkbox text color change
::ng-deep #friendly .mdc-checkbox__background {
    border-color: white !important;
}

//checkbox text color change
::ng-deep #friendly label {
    color: white !important;
}

::ng-deep .mat-select-content{
    color: white !important;  
}

::ng-deep .mat-select-panel {
    color: white !important;  
}

mat-option{
    color: white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: #1e252b;
}

mat-option:hover{
    color: rgb(204, 204, 204);
    background-color: #232a31;
}

#editbtn {
    height: 20%;
    transition: all .5s ease;
    background: #282E33;
    border: 3px solid #FFE32B;
    box-shadow: 0px 4px 4px rgba(255, 248, 54, 0.397);
    border-radius: 8px;
    height: 45px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 800;
    font-size: 16px;
    color: #FFE32B;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#editbtn:hover {
    transform: translateY(-0.25em);
    background: #FFE32B;
    border: 1px solid rgba(#000, .05);
    box-shadow: 0px 4px 4px rgba(15, 15, 15, 0.397);
    color: #282E33;
}