<div id="container">
    <h1>Notifications</h1>
    <div id="notifications_container">
        <div *ngFor="let notification of notifications" [ngSwitch]="notification.type" [ngClass]="notification.type===notificationType.NEW_RIDE ? 'notification new-ride' : 'notification'">
            <div *ngSwitchCase="notificationType.NEW_RIDE">
                <div id="gridContainer">
                    <div class="icon">
                        <img src="../../../../../assets/images/car_icon.png" alt="Icon">
                    </div>
                    <p class="header">NEW RIDE</p>
                    <div class="ride-icon">
                        <img class="med-img" src="../../../assets/images/route.png" alt="Icon">
                    </div>
                    <p class="start basic-text">{{notification.ride.locations[0].departure.address}}</p>
                    <p class="final basic-text">{{notification.ride.locations[0].destination.address}}</p>
                    <p id="timestamp" class="timestamp basic-text">{{notification.timestamp}}</p>
                    <div class="cash-icon">
                        <img class="small-img" src="../../../assets/images/cash.png" alt="Icon">
                    </div> 
                    <p class="cash basic-text">{{notification.ride.totalCost}}</p>       
                    <div class="time-icon">
                        <img class="small-img" src="../../../assets/images/clock.png" alt="Icon">
                    </div>     
                    <p class="time basic-text">{{notification.ride.scheduledTime.substring(11,16)}}</p>
                    <hr class="hr">
                    <button class="accept-btn" (click)="acceptRide(notification)">ACCEPT</button>
                    <button class="reject-btn" (click)="rejectRide(notification)">REJECT</button>
                    <input placeholder="Rejection reason" class="reason" [(ngModel)]="reason">
                    <div class="empty"></div>
                </div>
            </div>
            <div *ngSwitchCase="notificationType.REMINDER">
                <div class="icon">
                    <img src="../../../assets/images/info.png" alt="Icon">
                </div>
                <div class="data">
                    
                </div>
            </div>
            <div *ngSwitchCase="notificationType.RIDE_REJECTION">
                <div class="icon">
                    <img src="../../../assets/images/rejection.png" alt="Icon">
                </div>
                <div class="data">
                    
                </div>
            </div>
        </div>
    </div>
</div>

    
