:root {
  --clr-primary:#651fff;
  --clr-gray:#37474f;
  --clr-gray-light:#b0bec5;
}

.card {
  box-shadow: 0 2px 8px 0 var(--clr-gray-light);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
  background-color: #323940;
}

.banner-image {
  position:absolute;
  background-image: url("src/assets/images/dark_car.jpg");
  height: 8.5rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-image {
  width: 6.5rem;
  clip-path: circle(45px at center);
  margin-top: 4rem;
}

.name {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.2em;
}

.description {
  margin: 1.5rem 2rem;
  font-size: 0.9rem;
  color: white;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #ffe32b;
  padding: 1rem;

  cursor: pointer;
}

.btn:hover {
  background-color: #CCB523;
}

.btn-green {
  height: 100%;
  border-left: 1px solid black;
}

.ban-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: red;
  width: 3.5em;
  height: 3.5em;
}

.unban-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: green;
  width: 3.5em;
  height: 3.5em;
  color: white;
}

.red-header {
  color: red;
}
