app-map{
    height: 600px;
    width: 65%;
    position: relative;
    margin: 20px;
}
#container{
    display: flex;
    margin-top: 130px;
    margin-left: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center
}
