app-map, img{
    position: relative;
    margin: 20px;
    height: 75%;
    width: 60%;
    min-height: 500px;
}

app-route-form, app-ride-additional-options, app-invite-friends{
    height: 75%;
}

#container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    height: 100%;
    width: 100%;
    gap: 2%;
}

@media only screen and (max-width: 1390px) {
    app-route-form, app-ride-additional-options, app-invite-friends{
        margin-top: 130px;
        height: 50%;
    }

    app-map, img{
        margin: 20px;
        height: 50%;
        width: 90%;
        min-height: 500px;
    }
}