<div id="background">
    <div id="container">

        <span id="lockicon" class="iconify" data-icon="mdi:lock-clock"></span>

        <h1>Reset password</h1>

        <form [formGroup]="reset" (ngSubmit)="toChange()">

            <mat-form-field appearance="outline" class="field" id="password">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="field" id="confirmpassword">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirmPassword">
                  <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

            <button type="submit" id="resetbtn">RESET</button>

            <div id="toLogin">
                <p>You already know password?</p>
                <p id="login" (click)="toLogin()">Log in</p>
            </div>

        </form>
    </div>
</div>