<div id="driver">
    <div id="driver-left-div"></div>
    <button mat-raised-button id="currentRideBtn" >CURRENT RIDE</button>
    <div id="driver-mid-div"></div>
    <button mat-raised-button class="navbar-button"  id="home-button" >Home</button>
    <button mat-raised-button class="navbar-button"  id="inbox-button">Inbox</button>
    <button mat-raised-button class="navbar-button"  id="history-button">History</button>
    <button mat-raised-button class="navbar-button"  id="profile-button">Profile</button>
    <div id="driver-right-div"></div>
    <button mat-raised-button class="navbar-button"  id="sign-out-button" >Sign out</button>
</div>
