.dialog {
  background-color: #282E33;
  padding: 1.5em;
  padding-top: 1em;
}

h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin-bottom: 1em !important;
  padding-left: 0;
  color:white !important;
}

.red {
  color: red !important;
}

.message {
  font-size: 16px !important;
  color: white !important;
  font-weight: normal !important;
  padding-left: 0;
}

.button-holder {
  padding-left: 0 !important;
}

button {
  color: white !important;
  border: 1px solid white;
  padding: 1em;
}

button:hover {
  background-color: #3C454D;
}

.red-btn:hover {
  background-color: #9E2125;
}
